<div class="w-full pt-4 md:pt-6" data-usal="fade-u duration-300 delay-200">
    <div
    class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
    >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            10:00 - 10:30
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Registration & Welcome Refreshments
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            10:30 - 10:30
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Opening Remarks
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            10:45 - 11:15
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Vonage Global RCS Market Update
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            11:15 - 11:45
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            RCS Point of View by Indosat" and "RCS Point of View by Telkomsel
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            11:45 - 12:00
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Coffee Break
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            12:00 - 12:45
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Vonage Live RCS Demo
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            12:45 - 13:15
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Q&A
        </h4>
        </div>
        <div
        class="flex flex-col md:flex-row items-center gap-0 md:gap-4 px-4 py-8 rounded-lg hover:bg-gray-1 transition-colors duration-500"
        >
        <h4
            class="text-black font-semibold text-nowrap text-sm md:text-base leading-none m-0"
        >
            13:15 - 15:00
        </h4>
        <h4
            class="text-black font-semibold text-base md:text-lg leading-none m-0"
        >
            Lunch & Networking
        </h4>
    </div>
</div>