---
import { Image } from "astro:assets";
import speaker1 from "../assets/images/Speaker_Suzanna.png";
import speaker2 from "../assets/images/Speaker_Gautam.png";
import speaker3 from "../assets/images/Speaker_Arief.png";
---
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6">
    <!-- Cards 1 -->
    <div
    class="group flex flex-col items-center bg-white pt-4 text-center rounded-lg shadow-md hover:shadow-xl transition-all duration-500"
    data-usal="fade-u duration-300 delay-200"
    >
    <div
        class="relative w-[clamp(160px,120px+10vw,208px)] h-[clamp(160px,120px+10vw,208px)] rounded-full overflow-hidden mb-4 shadow-lg group-hover:shadow-2xl group-hover:scale-105 transition-all duration-500"
    >
        <Image
        src={speaker1}
        alt="Speaker Suzanna Buniardi"
        width="1182"
        height="1497"
        layout="constrained"
        decoding="async"
        loading="lazy"
        class="object-cover w-full h-full"
        />
    </div>
    <div>
        <div class="w-full rounded-lg p-4">
            <h4 class="font-bold text-lg md:text-xl mb-1 text-black">
                Suzanna Buniardi
            </h4>
            <p
                class="text-sm md:text-base text-gray-5 font-semibold leading-tight mb-1"
            >
                ID Country Lead
            </p>
            <p class="text-sm text-black font-medium">Vonage</p>
            </div>
        </div>
    </div>

    <!--Cards 2-->
    <div
    class="group flex flex-col items-center text-center bg-white pt-4 rounded-lg shadow-md hover:shadow-xl transition-all duration-500"
    data-usal="fade-u duration-300 delay-400"
    >
        <div
            class="relative w-[clamp(160px,120px+10vw,208px)] h-[clamp(160px,120px+10vw,208px)] rounded-full overflow-hidden mb-4 shadow-lg group-hover:shadow-2xl group-hover:scale-105 transition-all duration-500"
        >
            <Image
            src={speaker2}
            alt="Speaker Gautam Prakash"
            width="1182"
            height="1497"
            layout="constrained"
            decoding="async"
            loading="lazy"
            class="object-cover w-full h-full"
            />
        </div>
        <div>
            <div class="w-full rounded-lg p-4">
                <h4 class="font-bold text-lg md:text-xl mb-1 text-black">
                    Gautam Prakash
                </h4>
                <p
                    class="text-sm md:text-base text-gray-5 font-semibold leading-tight mb-1"
                >
                    SVP - Core ICT B2B Product at <br />Enterprise Business
                </p>
                <p class="text-sm text-black font-medium">Vonage</p>
            </div>
        </div>
    </div>

    <!--Cards 3-->
    <div
    class="group flex flex-col items-center text-center bg-white pt-4 rounded-lg shadow-md hover:shadow-xl transition-all duration-500"
    data-usal="fade-u duration-300 delay-400"
    >
        <div
            class="relative w-[clamp(160px,120px+10vw,208px)] h-[clamp(160px,120px+10vw,208px)] rounded-full overflow-hidden mb-4 shadow-lg group-hover:shadow-2xl group-hover:scale-105 transition-all duration-500"
        >
            <Image
            src={speaker3}
            alt="Speaker Arief Pradetya"
            width="1182"
            height="1497"
            layout="constrained"
            decoding="async"
            loading="lazy"
            class="object-cover w-full h-full"
            />
        </div>
        <div>
            <div class="w-full rounded-lg p-4">
                <h4 class="font-bold text-lg md:text-xl mb-1 text-black">
                    Arief Pradetya
                </h4>
                <p
                    class="text-sm md:text-base text-gray-5 font-semibold leading-tight mb-1"
                >
                    VP Digital Advertising, <br>Wholesale and Interconnect PT Telekomunikasi Selular
                </p>
                <p class="text-sm text-black font-medium">Telkomsel</p>
            </div>
        </div>
    </div>
</div>